@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nygcry');
  src:  url('fonts/icomoon.eot?nygcry#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nygcry') format('truetype'),
    url('fonts/icomoon.woff?nygcry') format('woff'),
    url('fonts/icomoon.svg?nygcry#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jumpto:before {
  content: "\e910";
}
.icon-cancel:before {
  content: "\e90d";
}
.icon-check:before {
  content: "\e90e";
}
.icon-sms:before {
  content: "\e90c";
}
.icon-stopwatch:before {
  content: "\e90b";
}
.icon-appointment:before {
  content: "\e90a";
}
.icon-action:before {
  content: "\e90f";
}
.icon-paperclip:before {
  content: "\e909";
}
.icon-calendar:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e912";
}
.icon-history:before {
  content: "\e913";
}
.icon-search:before {
  content: "\e91b";
}
.icon-downarrow:before {
  content: "\e900";
}
.icon-uparrow:before {
  content: "\e901";
}
.icon-pijlomhoog:before {
  content: "\e906";
}
.icon-download:before {
  content: "\e91c";
}
.icon-upload:before {
  content: "\e91d";
}
.icon-bubbles2:before {
  content: "\e911";
}
.icon-cogs:before {
  content: "\e91e";
}
.icon-bin:before {
  content: "\e902";
}
.icon-tree:before {
  content: "\e903";
}
.icon-mail4:before {
  content: "\e904";
}
.icon-file-word:before {
  content: "\e905";
}
.icon-files-empty:before {
  content: "\e908";
}

